<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

<div class="grid">
  <div class="grid__item text-center">
    <h1><strong>Digital Marketing, Sales, and Business Advice ...</strong><br> Whenever and Wherever You Want It</h1>
    <p>Get the latest insights on creating digital products and services, content marketing, SEO, conversion, design, mobile, and social media. <br>Powered by <a href="http://shopify.com/" target="_blank">Shopify</a>.</p>
  </div>
</div>




